*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --base-mid: #555;
  --base-light: #E8E8E8;
  --base-dark: #3F3E3E;
}

body{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: Var(--base-dark);
}

main {
  gap: 10px;
  max-width: 1440px;
  margin: auto;
  .about {
    display: flex;
    justify-content: center;
    @media (max-width:1024px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .photo {
    display: flex;
    flex:1;
    max-width: 600px;
    min-width: 300px;
    justify-content: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    max-width: 600px;
    color: var(--base-light);
    h1 {
      display: flex;
      align-items: baseline;
      margin: 10px;
      font-size: 35px;
      gap: 10px;
      @media (max-width:1024px) {
        font-size: 30px;
      }
      small {
        font-size: 30px;
        @media (max-width:1024px) {
          font-size: 25px;
        }
      }
    }
    p {
      font-size: 25px;
      @media (max-width:1024px) {
        font-size: 20px;
      }
      span {
        @media (max-width:1024px) {
          display: none;
        }
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      justify-content: center;
      width: 100%;
      a {
        font-size: 25px;
        gap: 5px;
        padding: 10px;
        border-radius: 10%;
        color: white;
        &:hover {
          background: var(--base-mid);
        }
      }
    }
    .social-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      max-width: 40px;
      a {
        display: flex;
        align-items: baseline;
        &:hover {
          background: var(--base-mid);
          border-radius: 10px;
        }
      }
    }
  }
}