body {
    background-color: #000;
}

T1 {
 text-align: center;   
 color: #FFFF
}

/* Dropdown Button */
.dropbtn {
    background-color: #3288df;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown container */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside dropdown */
  .dropdown-content a {
    color: #FFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #000;
  }
  
  /* Show dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change color of dropdown button on hover */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
